body{
  font-family: 'Playfair Display', serif ;
  font-weight: 400;
}
.thumbnail {
    position: relative;
}

.caption {
    position: absolute;
    top: 65%;
    left: 0;
    width: 100%;
  }
.image {
  position: absolute;
  top: 5%;
  left: 0;
  width: 100%;
}
